DJANGO_DEBUG=true
DJANGO_SECRET_KEY=dev-only-secret-key
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
APP_TIME_ZONE=Europe/Warsaw

DB_ENGINE=postgresql
DB_NAME=grafana_clone
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
